body {
    margin: 40px;
}

.items {
    width: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: grab;
    border: 2px solid black;
}

.item {
    width: 200px;
    height: 120px;
    display: inline-block;
    background: lightgray;
    margin-right: 10px;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
}
